:root {
  --textColor1: #505f98;
  --text-color2: #393e41;
  --text-color3: #091133;
  --text-color4: #6f7cb2;
  --text-color5: #5d6970;
  --text-color6: #222f65;
  --text-color7: #37447e;
  --text-color8: #939ea4;
  --text-color9: #929ecc;
  --text-color10: #b0b8bc;
  --button-color: #111b47;
  --black-shadow: #000000;
  --hover-color: #132059;
  --footer-back: #e7ecff;
  --border-color: #c8cdde;
  --back-color: #c8cdde;
}
